@define-color background      #000000;
@define-color background-alt  #282B31;
@define-color foreground      #FFFFFF;
@define-color selected        #61AFEF;
@define-color active          #98C379;
@define-color urgent          #E06C75;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 17px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
}

#workspaces button {
  color: @foreground;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#workspaces button.empty {
  color: @background-alt;
}

#workspaces button.focused {
  color: @selected;
}

#workspaces button.urgent {
  color: @urgent;
}

#memory,
#custom-platform-profile {
  padding-left: 1em;
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
  padding-right: 1em;
}
