@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #232629;
@define-color background-alt #31363b;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#waybar {
    background: rgba(0,0,0,0.6);
}

#workspaces button,
#mode {
    padding: 4px 6px;
    color: #ffffff;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 3px;
}

#workspaces button.urgent {
    background-color: #b54f4f;
}

#wireplumber,
#bat,
#tray,
#usage,
#clock,
#net {
    background-color: @background-alt;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#battery,
#memory,
#network {
    margin-right: 0.8em;
}
