* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    color: #ffffff;
}

window#waybar {
    background-color: #1a1b26;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock {
    min-width: 140px;
    padding: 0px 10px;
}

#battery,
#pulseaudio,
#tray,
#mode,
#window,
#idle_inhibitor {
    padding: 5px 15px;
}

#battery.charging {
    background-color: #b5b4e2;
}

#battery.critical:not(.charging) {
    background-color: #b54f4f;
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #3b3f51;
    }
}

#pulseaudio.muted {
    background-color: #3b3f51;
    color: #b5b4e2;
}

#tray {
    color: #282a36;
}

#tray>.passive {
    color: #6272a4;
}

#tray>.needs-attention {
    background-color: #ff5555;
    color: #ffffff;
}

#idle_inhibitor.activated {
    background-color: #6a6f87;
}

#workspaces button,
#mode {
    padding: 4px 6px;
    color: #ffffff;
}

#workspaces button.focused {
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    background-color: #b54f4f;
}

label:focus {
    background-color: #000000;
}