* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    /* bg: #1a1b26; */
    /* bg-alt: #232433; */
}


window#waybar {
    background-color: #1a1b26;
    color: #ffffff;
}


.modules-left {
    background-color: #1a1b26;
    padding: 0px 0px 0px 0px;
}


.modules-right {
    background-color: #1a1b26;
    padding: 0px 5px 0px 0px;
}


#workspaces button {
    padding: 0px 11px 0px 11px;
    min-width: 1px;
    color: #888888;
}


#workspaces button.focused {
    border-radius: 0px;
    padding: 0px 11px 0px 11px;
    background-color: #285577;
    color: #ffffff;
}


#mode {
    background-color: #900000;
    color: #ffffff;
    padding: 0px 5px 0px 5px;
    border: 1px solid #2f343a;
}


#window {
    color: #ffffff;
    background-color: #1a1b26;
    padding: 0px 10px 0px 10px;
}


window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}


window#waybar.empty {
    background-color: #1a1b26;
}


#network,
#pulseudio,
#battery {
    margin: 0px 20px 0px 20px;
}


#clock {
    margin: 0px 15px 0px 15px;
}


#tray {
    padding: 0px 8px 0px 5px;
    margin: 0px 5px 0px 5px;
}


#battery.critical {
    color: #ff5555;
}


#network.disconnected {
    color: #ff5555;
}